{% import "util/macros/html.twig" as html %}

<div>
	<section class="bar pt-4">
		<div class="heading">
			<h2>Update Password</h2>
		</div>

		{% include 'account/change-password/form.twig' %}
	</section>
</div>