<div class="copyrights">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 text-center-md">
				<p>&copy; {{ 'now'|date('Y') }}. {{ homepage.title }}</p>
			</div>
		</div>
	</div>
</div>