<footer class="main-footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<h4 class="h6">About Us</h4>
				{% include 'footer/sections/about-us.twig' %}
				<hr class="d-block d-lg-none">
			</div>
			<div class="col-lg-3">
				<h4 class="h6">Blog</h4>
				{% include 'footer/sections/blog.twig' %}
				<hr class="d-block d-lg-none">
			</div>
			<div class="col-lg-3">
				<h4 class="h6">Contact</h4>
				{% include 'footer/sections/contact-us.twig' %}
				<hr class="d-block d-lg-none">
			</div>
			<div class="col-lg-3">
				{% include 'footer/sections/photo-stream-example.twig' %}
			</div>
		</div>
	</div>
	{% include 'footer/copyrights.twig' %}
</footer>