<form action="{{ input.url() }}" method="POST" class="allow-enterkey-submit">
	<input type="hidden" name="action" value="register">

	<legend>Let's get your account started</legend>
	<p>
		Please fill out the requested information. Once {{ homepage.title }} receives this information we will immediately process your request and email you with your password. All fields are required and must be filled out.
	</p>

	<div class="row">
		<div class="col-sm-6 form-group">
			<label for="contact">Contact</label>
			{% include 'account/shared/form/inputs/contact.twig' %}
		</div>
		<div class="col-sm-6 form-group">
			<label for="companyname">Company Name</label>
			{% include 'account/register/form/inputs/companyname.twig' %}
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 form-group">
			<label for="email">Email</label>
			{% include 'account/shared/form/inputs/email.twig' %}
		</div>
		<div class="col-sm-3 form-group">
			<label for="phone">Phone</label>
			{% include 'account/shared/form/inputs/phone.twig' %}
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 form-group">
			<label for="address1">Address 1</label>
			{% include 'account/shared/form/inputs/address1.twig' %}
		</div>
		<div class="col-sm-6 form-group">
			<label for="address2">Address 2</label>
			{% include 'account/shared/form/inputs/address2.twig' %}
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3 form-group">
			<label for="city">City</label>
			{% include 'account/shared/form/inputs/city.twig' %}
		</div>
		<div class="col-sm-2 form-group">
			<label for="state">State</label>
			{% include 'account/shared/form/inputs/state.twig' %}
		</div>
		<div class="col-sm-2 form-group">
			<label for="zip">Zip Code</label>
			{% include 'account/shared/form/inputs/zip.twig' %}
		</div>
	</div>

	<hr>

	<div class="text-center">
		<button type="submit" class="btn btn-block {{ CSS.colors.buttons.getClass('submit') }}">
			Submit
		</button>
	</div>
</form>
