# Processwire Directories
wire
site/assets
site/modules/InputfieldCKEditor
site/modules/README.txt

# Project Configurations
site/config.php
/vendor
test.php
.env
site/modules/Pauldro/Mvc/vendor/
site/modules/Pauldro/Pauldro/vendor/
site/modules/Pauldro/Twig/vendor/


# VS Code files
.vscode

# Atom files
.ftpconfig
.ftpignore
project.cson
