{% import "util/macros/html.twig" as html %}

<div>
	<section class="bar pt-4">
		<div class="heading">
			<h2>First Login</h2>
		</div>

		{% include 'account/first-login/form.twig' %}
	</section>
</div>