{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page(template=blog-authors)
	author                 ProcessWire\User
	author.posts           ProcessWire\PageArray(template=blog-post)
#}

<div class="mb-3">
	<div>
		<div class="mb-2">
			{% include 'blog/blog-author/list-posts.twig' %}
		</div>

		{% include 'util/paginator/PaginatedArray.twig' with {'results': author.posts} %}
	</div>
	<hr>
	<a href="{{ pages.get('template=blog').url }}" class="btn {{ CSS.colors.buttons.getClass('link') }}">Blog</a>
</div>