{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page(template=blog-authors)
	author                 ProcessWire\User
	author.posts           ProcessWire\PageArray(template=blog-post)
#}

{% extends 'blog/layout.twig' %}

{% block body %}
	<div>
		<div class="mb-2">
			{% include 'blog/blog-author/list-posts.twig' %}
		</div>

		{% include 'util/paginator/PaginatedArray.twig' with {'results': author.posts} %}
	</div>
{% endblock %}