<section class="bar no-mb">
	<div data-animate="fadeInUp" class="container">
		{% include 'home/sections/featured/examples/hero/single.twig' %}
		{% include 'home/sections/featured/examples/hero/portfolio.twig' %}
	</div>
</section>