{% import "util/macros/html.twig" as html %}

<section class="bar background-pentagon no-mb">
	<div class="container">
		<div class="row showcase text-center">
			<div class="col-md-3 col-sm-6">
				<div class="item">
					<div class="icon-outlined icon-sm icon-thin">{{ html.iconType({'type': 'align-justify'}) }} </div>
					<h4><span class="h1 counter">580</span><br> Websites</h4>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="item">
					<div class="icon-outlined icon-sm icon-thin">{{ html.iconType({'type': 'users'}) }}</div>
					<h4><span class="h1 counter">100</span><br>Satisfied Clients</h4>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="item">
					<div class="icon-outlined icon-sm icon-thin">{{ html.iconType({'type': 'copy'}) }}</div>
					<h4><span class="h1 counter">320</span><br>Projects</h4>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="item">
					<div class="icon-outlined icon-sm icon-thin">{{ html.iconType({'type': 'font'}) }}></div>
					<h4><span class="h1 counter">923</span><br>Magazines and Brochures</h4>
				</div>
			</div>
		</div>
	</div>
</section>