{% set states = APP.ecommDB.states.all() %}

<select class="selectpicker form-control show-tick" name="state" title="Choose" required>
	<option value=""></option>
	{% for state in states %}
		<option value="{{ state.abbreviation }}" title="{{ state.abbreviation }}">{{ state.name }}</option>
	{% endfor %}
</select>