{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page(template=blog-tag)
	authors                ProcessWire\WireArray => WireArray(User)
#}

{% extends 'blog/layout.twig' %}

{% block body %}
	<div class="row">
		<div class="col-sm-9">
			{% include 'blog/blog-authors/list-authors.twig' %}
		</div>
	</div>
{% endblock %}
