<div class="mb-3">
	{% include 'home/sections/featured/examples/carousel.twig' %}
</div>

{% include 'home/sections/featured/examples/hero.twig' %}

{% include 'home/sections/featured/examples/stats.twig' %}

{% include 'home/sections/blog.twig' %}	

{% include 'home/sections/featured/examples/brands.twig' %}