{% import 'blog/macros.twig' as htmlBlog %}

<section class="bar background-white no-mb">
	<div class="container">
		<div class="col-md-12">
			<div class="heading text-center">
				<h2>From our blog</h2>
			</div>
			<p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. <a href="blog.html">Check our blog!</a></p>
			<div class="row">
				{% for post in page.recentBlogPosts() %}
					<div class="col-lg-3">
						{{ htmlBlog.postListItem(post) }}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>