<p>
	{{ pages.get('template=about-us').summary }}
</p>
<hr>
{% if config.site.hasNewsletter %}
	<h4 class="h6">Join Our Monthly Newsletter</h4>
	
	<form>
		<div class="input-group">
			<input type="text" class="form-control">
			<div class="input-group-append">
			<button type="button" class="btn btn-secondary"><i class="fa fa-send"></i></button>
			</div>
		</div>
	</form>
	<hr>
{% endif %}
<a href="{{ pages.get('template=about-us').url }}" class="btn btn-template-main">About Us</a>
