<ul class="list-unstyled footer-blog-list">
	{% for post in pages.get('template=blog').recent(3) %}
		<li class="d-flex align-items-center">
			<div class="image">
				{% if post.blog_images.count() %}
					{% set img = post.blog_images.first() %}

					<img src="{{ img.url }}" alt="..." class="img-fluid">
				{% endif %}
			</div>
			<div class="text">
				<h5 class="mb-0"><a href="{{ post.url }}">{{ post.title }}</a></h5>
			</div>
		</li>
	{% endfor %}
</ul>
<hr>
<a href="{{ pages.get('template=blog').url }}" class="btn btn-template-main">Blog</a>