<p class="text-uppercase">
	<strong>Universal Ltd.</strong><br>
	13/25 New Avenue <br>
	Newtown upon River <br>
	45Y 73J <br>England <br>
	<strong>Great Britain</strong>
</p>
<a href="contact.html" class="btn btn-template-main">Go to contact page</a>
