{% import "util/macros/html.twig" as html %}

<div>
	<section class="bar pt-4">
		{% include 'account/invoices/open/list.twig' %}
		
		{% include 'util/paginator/propel-model-pager.twig' with {'pager': results} %}
	</section>
</div>