<form action="{{ input.url() }}" method="POST" class="allow-enterkey-submit" id="forgotPasswordForm">
	<input type="hidden" name="action" value="forgot-password">

	<p class="text-muted">
		Answer the Following questions and a temporary password will be emailed to you
	</p>
	<p class="text-muted">
		{% set contact = pages.get('template=contact') %}
		If you do not remember your answers to the security questions give us a call at <a href="tel:{# contact.phones[0].phone #}">{# contact.phones[0].phone #}</a>
	</p>

	<div class="row">
		<div class="col-sm-6 form-group">
			<label for="email">Email</label>
			{% include 'account/shared/form/inputs/email.twig' %}
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 form-group">
			<label for="securityAnswer1">{{ config.account.labelSecurityQuestion1 }}</label>
			{% include 'account/shared/form/inputs/security-answer1.twig' %}
		</div>
		<div class="col-sm-6 form-group">
			<label for="securityAnswer2">{{ config.account.labelSecurityQuestion2 }}</label>
			{% include 'account/shared/form/inputs/security-answer2.twig' %}
		</div>
	</div>

	<hr>

	<div class="text-center">
		<button type="submit" class="btn btn-block {{ CSS.colors.buttons.getClass('submit') }}">
			Submit
		</button>
	</div>
</form>
