<div class="offset-sm-3 col-sm-6 px-0">
	<section class="bar pt-4">
		<div class="heading text-center">
			<div class="mb-1">
				<img src="{{ site.sitelogoimage.height(300).url }}" class="img-fluid" alt="{{ site.title }} logo">
			</div>
			<h2>Sign In</h2>
		</div>

		{% include 'login/form-wrapper.twig' %}
	</section>
</div>