{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page(template=blog-tag)
	posts                  ProcessWire\PageArray(template=blog-posts)
#}

{% extends 'blog/layout.twig' %}

{% block body %}
	<div class="mb-3">
		{% include 'blog/blog-tag/list-posts.twig' %}
	</div>
	{% include 'util/paginator/PaginatedArray.twig' with {'results': posts} %}
{% endblock %}