{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page(template=blog-tag)
	posts                  ProcessWire\PageArray(template=blog-posts)
#}

<div class="mb-3">
	<div class="mb-3">
		{% include 'blog/blog-tag/list-posts.twig' %}
	</div>
	{% include 'util/paginator/PaginatedArray.twig' with {'results': posts} %}
	<hr>
	<a href="{{ pages.get('template=blog').url }}" class="btn {{ CSS.colors.buttons.getClass('link') }}">Blog</a>
</div>