<fieldset class="credit-card-fields {{ form.isPaymentmethodCreditCard() ? '' : 'collapse' }}">
	<legend>Credit Card</legend>

	<div class="collapse {{ form.hasCreditCard() ? 'show' : '' }}">
		{% include 'checkout/forms/payment/creditcard/saved-card.twig' %}

		<h3 class="text-center">
			-- OR --
		</h3>
	</div>

	{% include 'checkout/forms/payment/creditcard/new-card.twig' %}
</fieldset>