{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page(template=blog-tags)
	tags                   ProcessWire\PageArray(template=blog-tag)
#}

{% extends 'blog/layout.twig' %}

{% block body %}
	{% include 'blog/blog-tags/list-tags.twig' %}
	<hr>
	<h3>Recent Posts</h3>
	{% include 'blog/blog-tags/list-posts.twig' %}
{% endblock %}