<div class="mb-3">
	{% include 'blog/blog-tags/list-tags.twig' %}
	<hr>
	<h3>Recent Posts</h3>
	{% include 'blog/blog-tags/list-posts.twig' %}
	<hr>
	<a href="{{ pages.get('template=blog').url }}" class="btn {{ CSS.colors.buttons.getClass('link') }}">Blog</a>
</div>