{% import "util/macros/html.twig" as html %}

<div class="row">
	<div class="col-sm-3 col-6 mb-3">
		<div class="card">
			<a href="{# page.changePasswordUrl() #}">
				<div class="card-body">
					<h1 class="text-center mb-1">
						{{ html.iconType({'type': 'rebuild', 'addclasses': ['fa-2x']}) }}
					</h1>
					<p class="card-text font-weight-bold text-center">Rebuild Templates / Pages</p>
				</div>
			</a>
		</div>
	</div>
</div>